{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="w-full bg-base-200">
    <div class="">
        <a href="#" class="btn btn-primary w-full">Ajouter un employé</a>
    </div>

    <div class="space-y-2 w-full mt-3">
        {% for emp in employees %}
            <div class="p-4 bg-base-100 rounded-lg w-full flex justify-between item-center">
                <div class="space-y-2">
                    <p class="font-bold text-lg">{{emp.nom}}</p>
                    <p class="badge badge-soft badge-primary">{{emp.email}}</p>
                </div>

                <div class="flex gap-2">
                    <p class="font-bold text-lg">{{emp.poste}} </p>
                    <p class="badge badge-dash badge-primary">{{emp.salaire}} Nkap</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}