<!DOCTYPE html>
{% load static %}
<html lang="en" data-theme="forest">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Employee Management{% endblock title %}</title>
        <link href="{% static 'img/favicon.png' %}" rel="icon" type="image/png">
        
        <link href="{% static 'plugin/daisyui/output.css' %}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="flex justify-center mt-32">
            <div class="flex flex-col bg-base-200">
                <div>
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>
        <button class="btn btn-info">test main</button>
    </body>
</html>