<!DOCTYPE html>
{% load static %}
<html lang="en" data-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Employee Management{% endblock title %}</title>
        <link href="{% static 'img/favicon.png' %}" rel="icon" type="image/png">
        
        <link href="{% static 'plugin/daisyui/output.css' %}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {% block content %}{% endblock content %}
    </body>
</html>